  .App-container {
    margin: 0;
    display: flex;  
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgb(140, 34, 161) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */    
  }
  .page-body {
    width: 100%;
    max-width: 1000px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 1rem;
    display: flex;
    height: 90vh;
}

.button-link {
  text-decoration: none;
}